
groq>=0.7.0

# LangChain Core
langchain==0.3.6
langchain-core==0.3.15
langchain-community==0.3.2
langchain-text-splitters==0.3.0

# Vectorstore
faiss-cpu==1.8.0.post1

# PDF / DOC loaders
pypdf
python-docx
docx2txt

# Embeddings
sentence-transformers

# Streamlit App
streamlit

# Optional but recommended
tiktoken

